@page
@model Jachty.Pages.OrderSuccessModel
@{
}
<ol id="orderProcess">
    <li><span class="step-number">1</span>Wybierz</li>
    <li><span class="step-number">2</span>Dane</li>
    <li class="current"><span class="step-number">3</span>Podsumowanie</li>
</ol>
<h1>Potwierdzenie rezerwacji</h1>